 .app-hidden{
    display: none;
}
:root{
  
  --bg-main: #ffffff;
  --bg-soft: #f8f9fa;
  
  /* Paleta de 5 Cores */
  --primary: #4361ee;   
  --secondary: #7209b7;  
  --accent: #f72585;   
  --success: #f72585;   
  --warning: #ffbe0b;   

  /* Cores de Texto */
  --text-main: #2b2d42; 
  --text-muted: #dadfe9;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:var(--bg-main);
    color: var(--text-main);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title{
     max-width: 90%;
     text-align: center;
}
.word{
    display: inline-block;
    white-space: nowrap;
}
.space{
    display: inline-block;
    width: 0.4em;
}
.title span {
   
    opacity: 0;
    transform: translateY(-30px);
    animation: growUp 0.6s ease forwards;
}
@keyframes growUp{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.start-screen{
   position: fixed;
   inset: 0;

   padding: 8vh 0 6vh;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-flow: column ;

   
   margin: 20px;
   justify-content: space-around;
  
   z-index: 1000;
    padding-bottom: 10vh;
}
.start-screen p {
    font-weight: bolder;
    text-align: center;
}
#start-container{
   width: 50vw;
   max-height: 500px;

   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: flex-start;

   align-items: flex-start;
    margin-bottom: 3vh;
    font-size: large;
    margin-left: 1em;

    }
#start-container input {
  width: 70vw;
  height: 30px;
  border: 2px solid var(--text-main);
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.301);
}
#start-container button{
   background-color: var(--primary);
   border: 0;
   padding: 10px;
   width: 70vw;
   transition: background-color 0.5s, color 0.5s;
}
#start-container button:hover{
    background-color: var(--secondary);
    color: var(--text-muted);
}

@media screen and ( min-width: 768px) {
    .start-screen{
        font-size: xx-large;
          align-items: center;
        
    }
    #start-container input{
     width: 50vw;
    }
    #start-container button {
        width: 50vw;
    }
}
